@model AdminLeaveRequestViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="row text-center">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-star"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.TotalRequests)</span>
                <span class="info-box-number">@Model.TotalRequests</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fas fa-check"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
                <span class="info-box-number">@Model.ApprovedRequests</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-exclamation"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.PendingRequests)</span>
                <span class="info-box-number">@Model.PendingRequests</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-times"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(model => model.RejecetdRequests)</span>
                <span class="info-box-number">@Model.RejecetdRequests</span>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h4>Request Log</h4>
<table id="tbl-data" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName), @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>
